{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--  CSS -->
    <link rel="stylesheet" href="{% static '/main.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <div class="d-none d-lg-block d-xl-block d-md-block ">
        <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-2">
            <div class="logo">
                <a href="/"><img src="{% static 'img/index.jpg' %}" alt="AutoShop" style="width: 90px"></a>
            </div>
        </div>
        <div class="col-lg-6 col-md-7 col-sm-10">
            <p style="text-align: center; font-size: x-large">Запчасти для корейських авто. Опт та роздріб</p>
             <form class="d-flex" role="search" action="{% url 'search' %}" method="get">
                    <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Пошук" name="q">
                    <button class="btn btn-outline-success" type="submit">Пошук</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <p>0 800 00011100<br>
            050 123 23 23<br>
            067 123 23 23</p>
        </div>
            </div>
    </div>
    {% include 'main/_navbar.html' %}
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% block container %}{% endblock %}

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>